<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="all">
<match url="^(.*)$" />
<conditions logicalGrouping="MatchAny">
	  <add input="{URL}" pattern="^.*\.(eot|woff|ttf|svg|ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v|ico)$" negate="true" />
  </conditions>
	<action type="Rewrite" url="404.php?u={R:1}" appendQueryString="true" />
</rule>
</rules>
</rewrite>
<httpErrors errorMode="Custom" defaultPath="/hastaKayit/404.php" defaultResponseMode="ExecuteURL">
	<remove statusCode="404" subStatusCode="-1" />
	<error statusCode="404" prefixLanguageFilePath="" path="/hastaKayit/404.php" responseMode="ExecuteURL" />
</httpErrors>
</system.webServer>
</configuration>
